h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.task {
  background: #eee;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.task .label {
  font-weight: bold;
}